span {font-family: fantasy; color: cornflowerblue;}
span.blackBackground{background-image: url(https://static.vecteezy.com/system/resources/thumbnails/021/154/403/small_2x/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall-free-photo.jpg);}
span.fancy{font-family: cursive;}